/* CSS reset */
/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --primary-color-: #ef99bc;
    --primary-bl-: #aec5ee;
    --secondary-bl-: #454777;
    --secondary-pk-: #F9D9F0;
    --terciary-pk-: #F5D5ED;
}

a{
    color: #fff;
}

html{
    font-size: 70%;
    overflow-x: hidden;
}

body{
    background-image: url(imgs/background-stars.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
/* Home section */
.header{
    background-color: var(--secondary-bl-);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-color-)
}

.menu-bar a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4 ease;
}
.menu-bar a:hover{
    color: var(--primary-color-);
}

#menu-btn{
    font-size: 3rem;
    display: none;
}

section{
    padding: 10rem 10%;
    min-height: 100vh;
}
/* Home Section */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-bio h3{
    font-size: 2.5rem;
}

span{
    color: var(--primary-color-);
}

.home-bio h1{
    font-size: 3.5rem;
    line-height: 1.4;
}

.home-bio p{
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 400; 
}

.profile-pic img{
    width: 46vw;
    border-radius: 50%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.social-media a{
    width: 3.8rem;
    height: 3.8rem;
    font-size: 2.2rem;
    margin: 1rem 1rem 2rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: content;
    border-radius: 50%;
    transition: 0.4s ease;
    padding-left: 0.75rem;
}

.social-media a:hover{
    color: var(--primary-color-);
    box-shadow: 0 0 1rem var(--primary-color-);
}
.btn{
    display: inline-block;
    background: var(--primary-color-);
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    border-radius: 1.3rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    color: var(--secondary-bl-);
    background-color: var(--secondary-pk-);
    box-shadow: 0 0 1rem var(--primary-color-);
}
/* About section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    font-size: 3.3rem;
    text-align: center;
    margin: 4rem 0;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about-resume h3{
    font-size: 2.3rem;
}
.about-text p{
    font-size: 1.8rem;

}
/* Skills section  */

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.skill-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05);
}

.skill-card .bx{
    font-size: 8rem;
    transform: 0.4s ease;
}

.skill-card .bx:hover{
    color: var(--primary-color-);
}

.skill-card h3{
    font-size: 2.5rem;
    font-weight: 200;
}
.skill-card p{
    text-align: center;
    font-size: 1.3rem;
    opacity: 0.5;
}
/* Projects section */




/* Contact section */
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

form{
    display: grid;
    row-gap: 1rem;
}
form input,
textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--secondary-bl-);
    background: var(--terciary-pk-);
    border-radius: 1rem;
    resize: none;
}
/* Footer section */
.footer{
    padding: 2rem 10%;
    text-align: center;
    font-size: 1rem;
}
hr{
    margin: 1rem;
    border-bottom: thin solid #fff;
}

/* Responsive section */